* {
  margin: 0;
  padding: 0;
}

.mySection {
  height: 100%;
  width: 100%;
}

.AboutMe {
  background-color: #202c39;
}

.Projects {
  background-color: #d64933;
}

.Skills {
  background-color: #f7b32b;
}

.ContactMe {
  background-color: #f2f7f2;
}

#fp-nav.fp-right {
  right: 0 !important;
  left: 1rem;
}

#fp-nav.fp-right span {
  background-color: white;
}

.menu {
  display: flex;
  list-style: none;
  position: absolute;
  z-index: 1;
}

.menu a {
  color: white;
  text-decoration: none;
}
