* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Montserrat";
  color: white;
}

.mySection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.AboutMe {
  background-color: #4767c7;
}

.Projects {
  background-color: #1f3291;
  padding-left: 3rem;
}

.Skills {
  background-color: #060f3f;
  flex-direction: column;
  justify-content: flex-start;
}

.ContactMe {
  background-color: #03071b;
}

#fp-nav.fp-right {
  right: 0 !important;
  left: 1rem;
  width: 1rem;
}

#fp-nav.fp-right span {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 1rem 10rem;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.menu i {
  font-size: 1.5rem;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-label {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.about-picture {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 2rem;
}

p {
  width: 25rem;
  text-align: left;
  font-size: 1.1rem;
}

.fp-bottom {
  text-align: center;
}

.fp-bottom span {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

.Projects .section-label {
  font-size: 3rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.Projects p {
  text-align: start;
}

.project-link {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.project-demo {
  height: 25rem;
  aspect-ratio: 1.75;
}

.fp-tooltip {
  right: unset !important;
  left: 1.5rem;
  color: rgba(255, 255, 255, 0.479) !important;
}

.skill-container {
  padding-left: 7rem;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skill-card {
  width: 11rem;
  height: 11rem;
  border: 0.25rem solid white;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skill-card i {
  font-size: 4rem;
}

.skill-card span {
  font-size: 2rem;
}

.Skills .section-label {
  align-self: flex-start;
  margin-left: 7rem;
  margin-top: 7rem;
}

.skill-card:hover {
  background-color: white;
  border-color: white;
  color: #060f3f;
}

.skill-card:hover * {
  color: #060f3f;
}

.ContactMe .section-div {
  align-items: flex-start;
  text-align: left;
}

.ContactMe p {
  text-align: left;
  color: rgb(218, 218, 218);
}

.contact-email {
  margin-top: 1rem;
}

.contact-email i {
  margin-right: 0.5rem;
}

.ContactMe h3 {
  margin-bottom: 1rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.email-label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.input-div input {
  height: 3rem;
  width: 20rem;
  background-color: rgb(75, 75, 75);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
}

.email-message {
  height: 6rem !important;
  width: 20rem !important;
  background-color: rgb(75, 75, 75);
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  padding-top: 1rem;
}

button {
  padding: 1rem;
  background-color: transparent;
  border: 0.1rem solid rgb(75, 75, 75);
  color: rgb(134, 134, 134);
  cursor: pointer;
}

.email-label span {
  margin-left: 1rem;
  color: red;
}
