* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Montserrat";
  color: white;
}

.mySection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.AboutMe {
  background-color: #4767c7;
}

.Projects {
  background-color: #1f3291;
  padding-left: 3rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Skills {
  background-color: #060f3f;
  flex-direction: column;
  justify-content: flex-start;
}

.ContactMe {
  background-color: #03071b;
  position: relative;
}

#fp-nav.fp-right {
  right: 0 !important;
  left: 1rem;
  width: 1rem;
}

#fp-nav.fp-right span {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 1rem 10rem;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu li {
  color: white;
  margin-right: 1rem;
}

.menu a {
  text-decoration: none;
}

.menu i {
  font-size: 1.5rem;
}

.subnav-icon {
  cursor: pointer;
}

.sub-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-label {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.about-picture {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 2rem;
}

p {
  width: 25rem;
  text-align: left;
  font-size: 1.1rem;
}

.fp-bottom {
  text-align: center;
}

.fp-bottom span {
  background-color: rgba(255, 255, 255, 0.479) !important;
}

.Projects .section-label {
  font-size: 3rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.Projects p {
  text-align: start;
}

.project-link {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.project-demo {
  height: 25vw;
  aspect-ratio: 1.75;
}

.fp-tooltip {
  right: unset !important;
  left: 1.5rem;
  color: rgba(255, 255, 255, 0.479) !important;
}

.skill-container {
  padding-left: 7rem;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skill-card {
  width: 11vw;
  height: 11vw;
  border: 0.25rem solid white;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skill-card i {
  font-size: 5vw;
}

.skill-card span {
  font-size: 2vw;
}

.Skills .section-label {
  align-self: flex-start;
  margin-left: 7rem;
  margin-top: 7rem;
}

.skill-card:hover {
  background-color: white;
  border-color: white;
  color: #060f3f;
}

.skill-card:hover * {
  color: #060f3f;
}

.ContactMe .section-div {
  align-items: flex-start;
  text-align: left;
}

.ContactMe p {
  text-align: left;
  color: rgb(218, 218, 218);
}

.contact-email {
  margin-top: 1rem;
}

.contact-email i {
  margin-right: 0.5rem;
}

.ContactMe h3 {
  margin-bottom: 1rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.email-label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.input-div input {
  height: 3rem;
  width: 20rem;
  background-color: rgb(75, 75, 75);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
}

.email-message {
  height: 6rem !important;
  width: 20rem !important;
  background-color: rgb(75, 75, 75);
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  padding-top: 1rem;
}

.contact-button {
  padding: 1rem;
  background-color: transparent;
  border: 0.1rem solid rgb(75, 75, 75);
  color: rgb(134, 134, 134);
  cursor: pointer;
}

.email-label span {
  margin-left: 1rem;
  color: red;
}

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.379);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: rgb(21, 20, 28);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
}

.modal i {
  font-size: 2rem;
}

.modal-label {
  font-size: 1.5rem;
}

.modal-message {
  color: rgb(117, 117, 117);
}

.modal-button {
  padding-block: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
}

.loading {
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(134, 134, 134);
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fp-watermark {
  display: none !important;
}
@media (min-width: 992px) {
  .Projects {
    padding-left: 7rem;
  }
  .project-demo {
    margin-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .project-demo {
    margin-left: 10rem;
  }
}

@media (max-width: 992px) {
  header {
    padding: 1rem 5rem;
  }

  .AboutMe {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }

  p {
    font-size: 1rem;
    width: fit-content;
  }

  .section-div {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .about-picture {
    width: 10rem;
    height: 10rem;
  }

  .AboutMe .section-div:first-child {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .AboutMe .section-div:first-child .section-label {
    width: 65%;
  }

  .AboutMe .section-div:last-child .section-label {
    font-size: 1.25rem;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  .project-demo {
    height: 20rem;
    margin-top: 2rem;
  }

  .Projects {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .section-div {
    padding-left: 5rem;
    padding-right: 2.5rem;
  }
  .project-demo {
    height: 15rem;
  }
}

@media (max-width: 576px) {
  .menu * {
    font-size: 1rem;
  }
  .menu i {
    font-size: 1rem;
  }
  p {
    font-size: 0.75rem;
  }
  .AboutMe .section-div:first-child .section-label {
    margin-bottom: 0.5rem;
  }
  .about-picture {
    margin-bottom: 1rem;
  }
  .project-demo {
    height: 10rem;
  }
}

@media (max-width: 450px) {
  header {
    padding: 1rem 2rem;
  }
  .menu * {
    font-size: 0.7rem;
  }
  .menu i {
    font-size: 0.7rem;
  }
  .AboutMe {
    justify-content: space-evenly;
  }
  .AboutMe .section-div:first-child .section-label {
    margin-top: 2rem;
    width: 100%;
    font-size: 2rem;
  }
  .about-picture {
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
  }
  .project-demo {
    height: 9rem;
    margin-top: 0;
  }
  .Projects {
    justify-content: space-evenly;
    padding-top: 0;
  }
  .Skills .section-label {
    text-align: center;
    align-self: center;
    margin-left: 0;
  }
  .skill-container {
    width: 80vw;
    padding-left: 25vw;
  }
  .skill-card {
    margin-right: 1.5rem;
    width: 12.5vw;
    height: 12.5vw;
  }
}

@media (max-width: 280px) {
  .menu * {
    font-size: 0.4rem;
  }
  .menu i {
    font-size: 0.4rem;
  }
}
